.about_s_rows
{
    display: flex;
    flex-direction: column;
}
.row
{
    display: flex;
    justify-content: space-between;
    height: 31.7vh;
    margin: 8px 0px;
}
.row_right
{
    opacity: 0.01;
    position: relative;
    width: 30%;
    /* background-color: red; */
    transition: .8s;
    overflow:hidden;
    padding: 0em 4.5em;

}
.row_left
{
    opacity: 0.01;
    position: relative;
    width: 30%;
    /* background-color: orange; */
    transition: .8s;
    padding: 0em 4.5em;

}
.row_left span,.row_right span
{
    position: relative;
    top: 10%;
    line-height: 1.2em;
}
.row img
{
    background-color: rgb(58, 129, 192);
    height: 31.7vh;
    width:auto;
    position: relative;
    left: 25%;
    border: 2px solid rgba(50, 205, 50, 0.623);
}
.row_scroll
{
    opacity: 1;
    width: 50%;
}

