*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    transition: .5s ease-in-out;
}
.mode
{
    background-color: rgb(22, 21, 21);
    color: whitesmoke;
}
.backgound
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.1;
    z-index: -1;

}
nav
{
    position: sticky;
    top: 0;
    z-index: 1
}
nav button
{
    position: relative;
    margin-left: 120px;
    background: transparent;
    font-size: 24px;
    border: none;
    cursor: pointer;
    z-index: 1;
}
.menu{
display: flex;
align-items: center;
background-color:aquamarine;
justify-content: center;
height: 8vh;
}
.menu menu
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    margin: 6px;
    padding: 12px;
    /* background-color: cornflowerblue; */
    cursor: pointer;
    transition: 0.5s ease;
}
.menu_mode
{
    background-color: rgb(6, 182, 123);
}
.two_box{
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    height: 92vh;
}
.box_left
{   
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    /* margin: 10px; */
    /* background-color: rgb(178, 164, 164); */
}
.box_right
{
    position: relative;
    width: 50%;
    /* background-color: brown; */
}
.box_left .content
{
    width: 75%;
}
.box_left .content h2
{
    line-height: 12vh;
    font-size: 120px;
    padding-bottom: 20px;
}
.box_left .content h4{
    font-size: 40px;
    text-shadow:1px 1px 1px  rgb(176, 172, 172);
    color: rgb(234, 234, 0);
    padding-bottom: 20px;
}
.box_left .content h4 span
{
    color: rgb(0, 48, 181);
}
.box_left .content p
{
    letter-spacing: 0.8px;
    word-spacing: 1.2px;
    font-family: system-ui, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

